{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajoutez votre événement</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
   <input type="submit" class="glyphicon glyphicon-plus-sign" value="Ajoutez votre événement" />
    {{ form_end(form) }}


            <a href="{{ path('event_index') }}"><span class="glyphicon glyphicon-arrow-left" alt="Retour à la liste des événements" title="Retour à la liste des événements"></a>

{% endblock %}
